:root {
  --font-family: "Montserrat", Arial, "Lato", sans-serif;
  --blue-color: #0093fc;
  --black-color: #000;
  --text-color: #20242da8;
  --text-color-heading-courses: #000;
  --text-color-courses: #4e586b;
  --text-color-practice-disable: #a2adbd;
  --text-color-faq: #2e3441;
  --link-color: #5ebbff;
  --home-background-color: #f6f7f9;
  --home-background-start: #ffffff;
  --home-background-continue: #fbfdff;
  --home-background-practice: #ddf2f9;
  --qrcode-background-color: #eaedf2;
  --home-background-circle-number: #f6f7f9;
  --profile-background-color: #f6f7f9de;
  --profile-background-evaluate: #ffffff;
  --profile-background-menu: #ffffff;
  --box-shadow-modal: 8px 0px 16px rgba(35, 115, 159, 0.16);
  --course-qrcode-background: #eef4fc;
  --lesson-background-color: #f6f7f9;
  --practice-background-color: #ffffff;
  --practice-background-active-color: #f6faf6;
  --completed-questions-background: #eaedf2;
  --progress-bar-color: #eaedf2;
  --progress-bar-inline-color: #48bd79;
  --subdue-color: #808b9a;
  --footer-background: #ffffff;
  --footer-box-shadow: 0px -8px 16px rgba(35, 115, 159, 0.04);
  --disabled-button-background: #f6f7f9;
  --disabled-button-color: #808b9a;
  --answer-correct-border: #48bd79;
  --answer-background: #fff;
  --success-answer-background: #f0ffed;
  --failure-answer-background: #ffeaea;
  --explanation-border: 1px solid #bdc6dc;
  --placeholder-border: #212424;
  --transition-theme: 200ms;
  --code-color: #2e3441;
  --code-background: #c9fffc;
  --modal-overlay-background: rgba(207, 210, 216, 0.8);
  --dialog-background: #fff;
  --dialog-border: 1px solid #bdc6dc;
  --dialog-content-color: #4e586b;
  --dialog-border-confirm-button: #0093fc;
  --dialog-background-confirm-button: #0093fc;
  --dialog-background-cancel-button: #fff;
  --dialog-border-cancel-button: linear-gradient(rgba(94, 187, 255, 0.8), rgba(161, 116, 255, 0.8));
  --dialog-color-cancel-button: #958bff;
  --message-box-shadow: 8px 0px 8px rgba(137, 172, 192, 0.04);
  --message-info-background: #f2f9ff;
  --message-success-background: #f2f9ff;
  --message-error-background: #fff3f3;
  --message-info-border: 1px solid #0093fc;
  --message-success-border: 1px solid #48bd79;
  --message-error-border: 1px solid #cc5140;
  --qr-modal-background: #f6f7f9;
  --qr-modal-border: 1px solid #bdc6dc;
  --qr-modal-box-shadow: 8px 0px 16px rgba(35, 115, 159, 0.16);
  --qr-code-modal-border: linear-gradient(rgba(94, 187, 255, 0.4), rgba(161, 116, 255, 0.4));
  --qr-code-modal-background: #fbfdff;
  --primary: #5ebbff;
  --dpn: none;
}
