#App {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.Home_wrapper {
  background-color: var(--home-background-color);
  display: flex;
  padding: 10px 12px;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color var(--transition-theme);
  border-radius: 12px;
}

.Home_container {
  border-radius: 12px;
  flex: 1 1;
}

.Home_header {
  align-items: center;
  display: flex;
  /* justify-content: space-between; */
}
.Home_header::before {
  content: "Vui lòng chọn khóa học bạn muốn luyện tập. Sau đó Click Luyện tập để lựa chọn theo chương";
  position: absolute;
  top: 75px;
  left: 2.5%;
  width: 95%;
  min-height: 77px;
  background: #a7ffbb;
  padding: 16px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--disabled-button-color);
  z-index: 99;
  display: var(--dpn);
  animation: fadeInLeft linear 0.3s, loading04 3s linear 0s infinite normal none running;
}
.Home_header::after {
  content: "👆";
  position: absolute;
  top: 0px;
  left: 0;
  padding: 50px 14px;
  width: 100%;
  height: 100%;
  background: #00000021;
  opacity: 0.5;
  font-size: 2.4rem;
  z-index: 4;
  display: var(--dpn);
  animation: fadeInLeft linear 0.3s, loading04 0.5s linear 0s infinite normal none running;
}
.Course_header,
.header_left {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;
  z-index: 5;
}
.Home_bars {
  margin-top: 4px;
}

.Home_course-name {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.6;
  margin-left: 8px;
  margin-top: 2px;
}

a.Home_course_link {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  user-select: none;
}

.header_right {
  height: 40px;
  margin-right: 4px;
  width: 40px;
  border-radius: 50%;
  user-select: none;
}

.Home_avatar-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Home_avatar {
  border-radius: 50%;
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
  animation: 0.3s linear 0s infinite normal none running loading04;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0, 0);
    opacity: 1;
    z-index: 90;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0, 0);
    opacity: 1;
    z-index: 90;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0, 0);
    opacity: 1;
    z-index: 90;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0, 0);
    opacity: 1;
    z-index: 90;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 90;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#calendar {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 2px;
  user-select: none;
}

.weeks {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: #7252b4d9;
}

.todays,
.week {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  background-color: #dee6e354;
}

.todays,
.week:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.todays {
  color: #43b0ff;
}

.weekday {
  font-size: 1.2rem;
}

.today,
.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #51b4fc;
  font-weight: 400;
  border-top: 1px solid rgb(86 85 85 / 10%);
  text-shadow: 0 0 1px #a174ff;
}

span.today {
  width: 26px;
  height: 24px;
  color: blue;
  border-radius: 9999px;
  background: linear-gradient(180deg, rgba(94, 187, 255, 0.4), rgba(161, 116, 255, 0.4));
}

.weekToday {
  font-size: 1.2rem;
}

#calendar .sunday,
#calendar .sunday span {
  background-color: #ffeaeab8;
  color: #ff0000bd;
}

#calendar .saturday,
#calendar .saturday span {
  background-color: #dbf7d5c2;
  color: #007022cc;
}

.App_flashcard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 256px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  transition: transform 1.3s;
  transform-style: preserve-3d;
  z-index: 9;
}
.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back img {
  width: 256px;
  height: 256px;
  border-radius: 9999px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
}
.canvasBlock {
  width: 256px;
  height: 256px;
  margin: 0 auto;
}
.flip-card-inner .canvasBlock {
  display: block;
}
.introVideo,
#suggestionsBack {
  position: absolute;
  top: -10px;
  margin: 0 auto;
  padding: 12px 18px;
  width: 99%;
  height: 275px;
  border-radius: 3px;
  box-shadow: 0 0 3px #0093fca6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
}
#suggestionsBack {
  background-color: rgb(244 126 255 / 68%);
  animation: loading04 20s infinite linear;
}
span.suggestionsBack {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.2rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(0 0 0);
  text-shadow: -1px 1px 0 #ffffff;
  z-index: 9;
}
.flip-card-back .introVideo {
  display: none;
}
.introVideo > iframe {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
/* .introVideo {
  --ratio: 16/9;
  height: 100%;
  position: relative;
  padding-bottom: calc(100% / var(--ratio));
}
.introVideo > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.Home_content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.HomeQuestion,
.Home_content-continue {
  width: 100%;
}

.Home_continuity {
  background-color: var(--home-background-continue);
  border-radius: 8px;
  display: flex;
  padding: 16px;
  transition: background-color var(--transition-theme);
  width: 100%;
}

.Home_continuity-title {
  color: var(--text-color);
  flex: 1 1;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
}

.Home_continuity-main {
  border-radius: 50%;
  transition: background-color var(--transition-theme);
  background-color: var(--home-background-circle-number);
  height: 80px;
  margin-left: 28px;
  padding: 10px;
  width: 80px;
}

.Home_continuity-content {
  align-items: center;
  background-color: var(--home-background-continue);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  border-radius: 50%;
  transition: background-color var(--transition-theme);
}

.Home_continuity-content span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(141.34deg, #5ebbff, #a174ff 91.11%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.2rem;
  font-weight: 400;
}

.Home_done-flashcard {
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--home-background-continue);
  border-radius: 8px;
  display: flex;
  margin: 8px 0;
  padding: 16px;
  width: 100%;
}

.Home_done-flashcard-info {
  display: flex;
  flex-direction: column;
}

.Home_done-flashcard-title {
  color: var(--text-color);
  flex: 1 1;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  margin-right: 28px;
}

.Home_done-flashcard-text {
  color: var(--text-color-courses);
  font-size: 1rem;
  margin-top: 8px;
}

.Home_practice {
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  height: 48px;
  overflow: hidden;
  padding-left: 18px;
  position: relative;
  transition: background-color var(--transition-theme);
  width: 100%;
  margin-top: 16px;
}

.Home_practice-done {
  background: linear-gradient(90deg, #1ea1ff, rgba(57, 0, 180, 0.61));
}

.Home_practice-image {
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 120%;
}

.Home_practice-action {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Home_practice-action span {
  flex-grow: 1;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  color: #dae4f0 !important;
}
img.practice-image {
  margin: 0 20% 5px 3%;
  height: 30%;
}
.HomeQuestion {
  min-width: 300px;
  padding-bottom: 115px;
}

.HomeQuestionScroll {
  height: 70vh;
  width: 102%;
  max-width: 494px;
  padding-right: 8px;
  overflow: auto;
  overflow-x: hidden;
  display: none;
}

.contentQuestion,
.contentAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: background-color var(--transition-theme);
  background-color: var(--lesson-background-color);
  border-radius: 8px;
}

.answerPlan {
  width: 100%;
  display: flex;
  min-height: 48px;
  padding: 6px 24px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  color: var(--text-color-faq);
  font-size: 1.3rem;
  transition: 0.3s;
  line-height: 1.5;
  text-align: left;
  cursor: pointer;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--answer-background);
  box-shadow: -1px 2px 3px rgb(137 172 192 / 10%);
  user-select: none;
}
.answerPlan {
}
.answerPlanActive,
.answerPlan:hover,
.header_left:hover {
  opacity: 0.7;
  background: #f0ffed52;
  border: 1px solid #aadd3345;
  /* color: var(--answer-correct-border); */
}
.answerPlanActive {
  opacity: 0.9;
  color: rgba(0, 128, 0, 0.753);
  background: var(--success-answer-background) !important;
}

.contentQuestion {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 6px;
  align-items: flex-start;
  border: 1px solid #bdbdbd61;
  background: var(--question-background);
  box-shadow: -1px 2px 3px rgb(137 172 192 / 10%);
}
.QuestionInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: default;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  min-height: 48px;
  padding: 6px 18px;
  color: var(--text-color-faq);
}
p.Question_hint {
  width: 100%;
  padding: 3px 18px 6px;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--disabled-button-color);
  border-top: 1px solid rgb(86 85 85 / 20%);
}

.speakerSvg {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 38px;
  display: none;
  fill: #99d40991;
  border-radius: 991px;
  background-color: #effad595;
  border: 0.5px solid #e8f9c0;
  box-shadow: 0px 0 0 2px #e9fabfba;
}

.show_btn {
  position: fixed;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lesson-background-color);
}
.btn,
.control_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
.control_btn + .control_btn {
  margin-top: 10px;
}
.btn {
  justify-content: center;
  text-decoration: none;
  width: 48%;
  height: 42px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1.5px;
  color: var(--btn-color);
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px rgb(101 118 244 / 25%);
  background-image: linear-gradient(to top, rgb(230 230 230), rgb(255 255 255 / 88%), rgb(230 230 230));
}
#watchVideo_btn > img {
  width: 32px;
  height: 32px;
}
.btn:hover {
  opacity: 0.9;
  border: 1px solid #aadd3345;
  background-image: linear-gradient(to top, #c0feaa, #fbfff0, #c0feaa);
  cursor: pointer;
}
button.btn.answerBtn:hover {
  cursor: default;
}
button.answerBtn.answerCheck {
  color: rgb(0 26 255 / 82%);
  background-image: linear-gradient(to top, rgb(67, 244, 152), rgb(191 251 220 / 88%), rgb(67, 244, 152));
  cursor: pointer;
}
.contentAnswer div.answerPlan.failureAnswer,
button.btn.answerBtn.failureAnswer {
  background: var(--failure-answer-background) !important;
  border: 1px solid #cc5140;
  color: #cc5140;
}
button.btn.require {
  position: relative;
}
.require::before {
  content: "Vui lòng chọn đáp án trước khi nhấn trả lời! ...     ▶";
  position: absolute;
  top: -88px;
  right: 4.5%;
  width: 200%;
  padding: 16px;
  font-size: 1.5rem;
  line-height: 1.6;
  border-radius: 6px;
  background: #e8ffed;
  font-family: system-ui;
  border: 1px solid #aadd3345;
  color: chocolate;
  z-index: 9999;
}

.Modal_wrapper {
  bottom: 0;
  left: 0;
  overflow-y: overlay;
  overscroll-behavior: contain;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 12px;
  z-index: 9;
}

.Modal_Courses {
  animation: fadeInLeft linear 0.3s;
  transition: all linear 0.4s;
}

.Modal_Profile {
  animation: fadeInRight linear 0.3s;
  transition: all linear 0.4s;
  z-index: 99;
}

.Courses_overlay {
  background-color: transparent;
  background-color: #00000021;
  inset: 0;
  position: absolute;
}

.Courses_container {
  background-color: var(--profile-background-color);
  box-shadow: var(--box-shadow-modal);
  height: 100%;
  inset: 0;
  max-width: 600px;
  overflow-y: overlay;
  position: absolute;
  transition: background-color var(--transition-theme);
  background: #ffffffba;
  width: 80%;
  z-index: 99;
}

.Courses_close {
  cursor: pointer;
  display: inline-block;
  padding: 16px 32px 16px 16px;
  user-select: none;
}
a.course_link {
  flex-grow: 1;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  color: rgb(133 116 255 / 95%);
  padding-right: 60px;
  animation: loading04 2s infinite linear;
}
.Courses_main {
  margin-top: 8px;
  padding: 0 16px 16px;
}

.Courses_main-title {
  color: var(--text-color-heading-courses);
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  margin: 0 0 18px;
  font-family: Montserrat, sans-serif !important;
}

.Courses_course-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  user-select: none;
}

.Courses_course-check {
  position: absolute;
}

.Courses_course-name {
  flex-grow: 1;
  color: var(--text-color-courses);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 24px;
  padding: 12px;
}

#JavaScript_Pro::before {
  content: "Khóa học dự kiến sẽ được mở vào Quý I năm 2023. Nhiệt liệt chào đón bạn. Cảm ơn bạn đã ủng hộ chúng tôi!";
  top: 128px;
  left: 2px;
  width: 100%;
  min-height: 90px;
  font-size: 1.8rem;
  opacity: 1;
  color: #002780;
  background-color: #77ff5b;
  padding: 16px;
  border: 1px solid;
  border-radius: 8px;
  display: var(--dpn);
  animation: fadeInLeft linear 0.3s, loading04 3s linear 0s infinite normal none running;
  z-index: 99;
}

.Profile_overlay {
  background-color: #00000021;
  inset: 0;
  position: absolute;
}

.Profile_container {
  background-color: #f6f7f9;
  box-shadow: var(--box-shadow-modal);
  height: 100%;
  max-width: 600px;
  overflow-y: overlay;
  position: absolute;
  right: 0;
  transition: background-color var(--transition-theme);
  width: 80%;
}

.Profile_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.Profile_close {
  cursor: pointer;
  padding: 18px;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}

.Profile_main {
  flex: 1 1;
  padding: 16px 12px;
  text-align: center;
}

.Profile_avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  object-fit: cover;
  width: 100%;
}

.Profile_user-avatar {
  align-items: center;
  background: linear-gradient(180deg, #5ebbff, #a174ff);
  border-radius: 50%;
  display: flex;
  height: 96px;
  justify-content: center;
  padding: 4px;
  width: 96px;
}

.Profile_avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Profile_name-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Profile_user-name {
  color: var(--text-color-courses);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6;
}

.Profile_evaluate-user {
  color: var(--text-color-courses);
  font-size: 1.2rem;
}

.Profile_evaluate {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.Profile_evaluate-item {
  align-items: center;
  background-color: var(--profile-background-evaluate);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 104px;
  justify-content: flex-start;
  padding: 8px;
  transition: background-color var(--transition-theme);
  width: 96px;
}

.Profile_evaluate-info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.Profile_evaluate-title {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  font-family: Montserrat, sans-serif !important;
}

.Profile_evaluate-label {
  color: #808b9a;
  font-size: 1rem;
  margin-top: 2px;
}

.Profile_menu {
  background-color: var(--profile-background-menu);
  border-radius: 8px;
  margin-top: 32px;
  transition: background-color var(--transition-theme);
  width: 100%;
}

.Profile_menu-item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  border-bottom: 1px solid var(--profile-background-color);
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 12px 8px 12px 16px;
  text-decoration: none;
  transition: border-bottom var(--transition-theme);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.week:hover,
.todays:hover,
.Profile_close:hover,
.Courses_close:hover,
.Profile_logout:hover,
.Profile_menu-item:hover,
.Courses_course-item:hover,
.Profile_evaluate-item:hover,
.unDisable:hover {
  cursor: pointer;
  opacity: 0.6;
  background: var(--success-answer-background);
}

.Home_avatar:hover,
.header_left:hover,
.Home_course_link:hover,
.Home_practice-done:hover {
  cursor: pointer;
  opacity: 0.8;
}
.Home_avatar:hover,
.Profile_user-avatar:hover img,
.Home_done-flashcard:hover img,
.Home_continuity:hover .Home_continuity-main,
.Profile_evaluate-item:hover {
  transform: scale(1.2);
}

.Profile_menu-icon {
  width: 18px;
}

.Profile_menu-item span {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 8px;
}

.Profile_menu-item-mb {
  margin-bottom: 4px;
}

.Profile_footer {
  padding: 16px 12px;
  text-align: center;
}

.Profile_logout {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  background-color: var(--profile-background-menu);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-top: 32px;
  padding: 12px 8px 12px 16px;
  transition: background-color var(--transition-theme);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.Profile_logout span {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 8px;
}

.Profile_description {
  margin-top: 14px;
}

.Profile_description span {
  color: #808b9a;
  font-size: 1rem;
}

.TrackList_wrapper {
  margin-top: 26px;
  background-color: var(--home-background-color);
  min-height: 100vh;
}

.TrackList_content {
  height: 100%;
  overflow: auto;
  overflow: overlay;
  padding-bottom: 190px;
  padding-top: 30px;
  animation: fadeInBottom linear 0.8s;
}

.TrackItem,
.TrackItem_wrapper {
  align-items: center;
  background-color: var(--practice-background-color);
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 0 16px;
  width: 100%;
  user-select: none;
  position: relative;
}

p.TrackItem {
  color: #326447d4;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}

.TrackItem_left {
  align-items: center;
  display: flex;
}

.TrackItem_title {
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 1.6;
}

.TrackItem_completed {
  align-items: center;
  background-color: var(--completed-questions-background);
  justify-content: center;
  display: flex;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  margin-left: 8px;
}

.TrackItem_completed span {
  color: #4e586b;
  display: block;
  font-size: 1.4rem;
  border-radius: 50%;
}

.TrackItem_right {
  display: flex;
  padding: 10px 0 10px 16px;
  user-select: none;
}

.unCheckedAll,
.onChecked,
.unChecked {
  margin-right: 6px;
  padding: 12px;
  width: 10px;
  height: 21px;
}

.unCheckedAll,
.unChecked {
  background-image: url(https://flash.fullstack.edu.vn/static/media/check-none-active.ba7194b16360081a29fdc43cf606f736.svg);
}
.TrackItem_right .onChecked {
  background-image: url(https://flash.fullstack.edu.vn/static/media/check-circle-active.e0bde04629ea3769dc5ec55ff0eb7133.svg);
}

.TrackList_header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  animation: fadeInTop linear 0.3s;
  z-index: 9999;
}

.TrackList_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--home-background-color);
  padding: 18px 16px 6px 0;
  height: 46px;
  z-index: 1000;
}

.TrackList_close {
  cursor: pointer;
  padding: 16px;
}

.TrackList_header span {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 4px;
  font-family: Montserrat, sans-serif !important;
}

.TrackList_active {
  margin-right: 6px;
  cursor: pointer;
  user-select: none;
}
.TrackList_Checked {
  background-image: url(https://flash.fullstack.edu.vn/static/media/circle-minus.c9b2a1277bc0ef89e2441ae6b5c560d1.svg);
}
.TrackList_activeAll {
  background-image: url(https://flash.fullstack.edu.vn/static/media/check-active.17895e54ca81231df26fd7778a233d55.svg);
}

.Footer_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 16px 48px;
  box-shadow: var(--footer-box-shadow);
  background-color: var(--footer-background);
  z-index: 999;
}

.Button_wrapper,
.TrackList_make-all {
  width: 100%;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 10px;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TrackList_make-all {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  color: #0093fc;
  line-height: 38px;
  text-transform: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  background: var(--success-answer-background);
}

.Button_wrapper:hover,
.TrackList_make-all:hover {
  transform: scale(1.01);
  opacity: 0.8;
}
.TrackList_make-all:hover {
  cursor: pointer;
  background: var(--success-answer-background);
}

button.Button_wrapper.font-lato.start {
  background-color: var(--blue-color);
  transition: background-color 0.3s;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
}

.Footer_wrapper,
.TrackList_header-wrapper {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  z-index: 999;
}

/* Thuộc tính kích hoạt bằng JS */
.Button_disabled {
  background-color: var(--disabled-button-background);
  color: var(--disabled-button-color);
  cursor: default;
}

.TrackItem_wrapper-active {
  box-shadow: 0 0 0 1px #eaedf294;
  background-color: var(--practice-background-active-color) !important;
}

.Modal_Courses,
.Modal_Profile,
.Footer_wrapper,
.Modal_TrackList,
.TrackList_header-wrapper {
  display: none;
}
/* ondblclick */
span.starts {
  margin: 10px;
  font-size: 2rem;
  cursor: default;
  user-select: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
span.stars {
  margin: 10px;
  cursor: default;
  max-width: 100%;
  font-size: 1.2rem;
  user-select: none;
  text-align: center;
  padding-bottom: 1px;
  word-break: break-word;
  overflow-wrap: break-word;
  border-radius: 99999999999px;
  animation: loading04 0.3s infinite linear;
}

@keyframes loading04 {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #ffffff00;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb {
  /* border-bottom: 40px solid #5aff00e0;
  background-color: transparent; */
  background-color: #5aff00e0;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1500b3;
}

.TrackItem_disable::before {
  content: "";
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 9999;
  cursor: default;
  background: #f6f7f96b;
  backdrop-filter: blur(1px);
  color: var(--text-color-practice-disable) !important;
}
.TrackItem_disable {
  cursor: default;
  z-index: 9999;
}
/* #answerPlan0 {
  background-color: #9ea1aa8a;
    background: linear-gradient(90deg, rgb(94, 187, 255) 0%, rgb(161, 116, 255) 100%);

} */
